// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Oswald&family=Comfortaa&display=swap');

body {
 font-family: 'Cardo', serif;
}
a
{
    font-weight:bold;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}

h1
{
    font-size:5.063rem;
}
h2
{
    font-size:3.375rem;
}
h3
{
    font-size:2.25rem;
}
h4
{
    font-size:1.5rem;
}
.site-title
{
    font-family: 'Comfortaa', cursive;
}
.emailoctopus
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyright
{
    text-align: center;
    font-size: $base-font-size*0.75;
    padding: $spacing-unit/4;
}
.hero
{
    display: flex;
     align-items: center;
  justify-content: center;
}
.left
{
    flex: 25%;
    justify-content: flex-end;
    padding: $spacing-unit/2;
}
.right
{
    flex: 75%;
    justify-content: flex-start;
    padding: $spacing-unit/2;
}
.picture
{
    border-radius: 50%;
    width: 250px;
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
      align-items: flex-start;
  }
    .picture
    {
        width: 150px;
    }
}