// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Open+Sans:wght@300&family=Comfortaa&display=swap');

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}
a
{
    font-weight:bold;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

h1
{
    font-size:5.063rem;
}
h2
{
    font-size:3.375rem;
}
h3
{
    font-size:2.25rem;
}
h4
{
    font-size:1.5rem;
}
.site-title
{
    font-family: 'Comfortaa', cursive;
}
input, button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.emailoctopus
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-unit;
}
.emailoctopus-form-row input,
{
    max-width: 220px !important;
}
.emailoctopus-form-row-subscribe button
{
    background-color: $link-base-color !important;
    font-family: inherit; 
    font-size: inherit;
    font-weight:bold;
    text-transform: uppercase;
}

.copyright
{
    text-align: center;
    font-size: $base-font-size*0.75;
   position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hero
{
    display: flex;
     align-items: center;
  justify-content: center;
    padding: $spacing-unit;
}
.left
{
    flex: 25%;
    justify-content: flex-end;
    padding: $spacing-unit/2;
}
.right
{
    flex: 75%;
    justify-content: flex-start;
    padding: $spacing-unit/2;
}
.picture-div
{
    border-radius: 50%;
    background-color: $text-color;
    padding: $spacing-unit/8;
}
.picture
{
    border-radius: 50%;
    width: 250px;
    
}
.share-page {
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        margin-left: 10px;
    }
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
      align-items: flex-start;
  }
    .picture
    {
        width: 150px;
    }
}